#game{
    margin 30px;
    text-align:center;
    padding 50px;
}

#quit{
    margin 30px;
    text-align:center;
    padding 50px;
}
#calm{
    margin 30px;
    text-align:center;
    padding 50px;
}
#culture{
    margin 30px;
    text-align:center;
    padding 50px;
}
#enjoy{
    margin 30px;
    align:center;
    padding 50px;
}